name: CI

on:
    schedule:
    -   cron: 00 00 * * 1  # run every Monday at 00:00
    push:
        branches:
        -   main
        tags:
        -   v[0-9]+.[0-9]+.[0-9]+
    pull_request:
        branches:
        -   main

jobs:
    init:
        runs-on: ubuntu-latest
        outputs:
            skip: ${{ steps.ci-skip-step.outputs.ci-skip }}
        steps:
        -   uses: actions/checkout@v2
            with:
                fetch-depth: 0
        -   id: ci-skip-step
            uses: mstachniuk/ci-skip@master
            with:
                commit-filter: '[ci skip];[ci-skip];[skip ci];[skip-ci]'
                commit-filter-separator: ';'

    lint:
        needs: init
        if: ${{ github.event_name == 'schedule' || needs.init.outputs.skip == 'false' }}
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v2
            with:
                fetch-depth: 0
        -   name: Set up Python
            uses: actions/setup-python@v2
            with:
                python-version: 3.8

        -   uses: actions/cache@v2
            with:
                path: ~/.cache/pre-commit
                key: precommit-${{ env.pythonLocation }}-${{ hashFiles('.pre-commit-config.yaml') }}
                restore-keys: |
                    precommit-${{ env.pythonLocation }}-
                    precommit-

        -   name: Install dependencies
            run: |
                python -m pip install --upgrade pip
                pip install tox

        -   name: Linting
            run: |
                tox -e lint
        -   name: Documentation check
            run: |
                echo "Uncomment me below once the badges are working..."
            # tox -e check-docs

    test:
        needs: init
        if: ${{ github.event_name == 'schedule' || needs.init.outputs.skip == 'false' }}
        runs-on: ${{ matrix.os }}
        strategy:
            fail-fast: false
            max-parallel: 4
            matrix:
                python: [3.8]
                os: [ubuntu-latest]
                use_slepc: [true]
                include:
                -   os: ubuntu-latest
                    python: 3.7
                    use_slepc: false
                -   os: macos-latest
                    python: 3.8
                    use_slepc: false
                -   os: macos-latest
                    python: 3.7
                    use_slepc: true
        env:
            PC_VERSION: 3.13.5  # PETSc version
            SC_VERSION: 3.13.2  # SLEPc version

        steps:
        -   uses: actions/checkout@v2
            with:
                fetch-depth: 0
        -   name: Set up Python ${{ matrix.python }}
            uses: actions/setup-python@v2
            with:
                python-version: ${{ matrix.python }}

        -   name: Export environment variables
            if: matrix.use_slepc == true && runner.os == 'macOS'
            run: |
                echo "PETSC_DIR=$HOME/petsc-$PC_VERSION" >> $GITHUB_ENV
                echo "SLEPC_DIR=$HOME/slepc-$SC_VERSION" >> $GITHUB_ENV
                echo "PETSC_ARCH=arch-darwin-c-opt" >> $GITHUB_ENV
        -   name: Restore PETSc/SLEPc cache
            uses: actions/cache@v2
            id: cache
            if: matrix.use_slepc == true && runner.os == 'macOS'
            with:
                path: |
                    ~/petsc-*
                    ~/slepc-*
                key: petsc-${{ env.PC_VERSION }}-slepc-{{ $env.SC_VERSION }}-${{ hashFiles('**/install_dependencies.sh') }}
        -   name: Install PETSc/SLEPc dev dependencies
            if: matrix.use_slepc == true && steps.cache.outputs.cache-hit != 'true'
            run: |
                ./.scripts/ci/install_dependencies.sh

        -   name: Get pip cache dir
            id: pip-cache-dir
            run: |
                echo "::set-output name=dir::$(pip cache dir)"
        -   name: Restore pip cache
            uses: actions/cache@v2
            with:
                path: ${{ steps.pip-cache-dir.outputs.dir }}
                key: pip-${{ runner.os }}-${{ env.pythonLocation }}-${{ hashFiles('**/requirements.txt') }}
                restore-keys: |
                    pip-${{ runner.os }}-${{ env.pythonLocation }}-

        -   name: Install pip dependencies
            run: |
                python -m pip install --upgrade pip
                pip install tox tox-gh-actions codecov


        -   name: Restore PETSc/SLEPc tox cache
            if: matrix.use_slepc == true
            uses: actions/cache@v2
            with:
                path: .tox
                key: tox-${{ runner.os }}-${{ env.pythonLocation }}-${{ hashFiles('**/install_dependencies.sh', '**/requirements.txt', '**/setup.py', '**/tox.ini') }}

        -   name: Create numpy symlink
            if: matrix.use_slepc == true && runner.os == 'macOS'
            run: |
                ./scripts/ci/symlink_numpy.sh

        -   name: Test
            run: |
                tox -vv
            env:
                PLATFORM: ${{ matrix.os }}
                USE_SLEPC: ${{ matrix.use_slepc }}

        -   name: Upload coverage
            if: success()
            env:
                CODECOV_NAME: ${{ matrix.os }}-${{ matrix.python }}-{{ matrix.use_slepc }}
            run: |
                codecov --no-color --required --flags unittests

    deploy:
        needs: [lint, test]
        if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
        runs-on: ubuntu-latest
        steps:
        -   uses: actions/checkout@v2
            with:
                fetch-depth: 0
        -   name: Set up Python
            uses: actions/setup-python@v2
            with:
                python-version: 3.8
        -   name: Install pypa/build
            run: |
                python -m pip install --upgrade pip
                pip install build
        -   name: Build a binary wheel and a source tarball
            run: |
                python -m build --sdist --wheel --outdir dist/

        -   name: Publish package on PyPI
            uses: pypa/gh-action-pypi-publish@master
            with:
                user: __token__
                password: ${{ secrets.PYPI_PASSWORD }}
                skip_existing: true
                verbose: true
